<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>example</title>
</head>

<body style="margin:0 0 0 0;">

	<!-- 由于安全性问题，chrome浏览器已经不再支持java。 -->
	
	<hr>
	<applet code="site.linyy.jdkstudy.jdk.applet.HelloWorldApplet.class" width="320" height="120">
	If your browser was Java-enabled, a "Hello, World"
	message would appear here.
	</applet>
	<hr>

</body>
</html>
